<h1>Bem vindo ao Wody</h1>

<ul>
    <%= link_to "Cadastro de usuario", new_user_registration_path %>
    <%= link_to "Logar", new_user_session_path, method: :new %>
    <%= link_to "Sair", destroy_user_session_path, method: :delete %>
</ul>


<ul>


    <li><%= link_to "Aluno", athletes_path  %></li>
</ul>
